body{
   margin: 0;
   font-family: sans-serif;
}
*{
   box-sizing: border-box;
}

.grid-box{
   height: 100vh;
   background-color: #272727;
   float: left;
   width: 100%;
   padding: 80px 15px;
}
.container{
   max-width: 1170px;
   margin: auto;
}

.grid-box .content .box{
   width: 33.33%;
   float: left;
   padding: 15px;
}
.grid-box .content .box .inner{
   background-color: #404040;
   padding: 90px 15px;
}

.grid-box .content .box .inner h1{
   font-size: 40px;
   text-align: center;
   color: #ffffff;
   position: relative;
   z-index: 10;
}
