body{
   background-color: #444444;
   font-family: sans-serif;
}
*{
   box-sizing: border-box;
}
.slider{
   max-width: 700px;
   border: 10px solid #29a8e2;
   margin: 60px auto;
   position: relative;
}

.slider .left-slide, .slider .right-slide{
   position: absolute;
   height: 40px;
   width: 40px;
   text-align: center;
   line-height: 40px;
   background-color: #444444;
   color: #ffffff;
   font-size: 20px;
   cursor: pointer;
   top: 50%;
   margin-top: -20px;
   border-radius: 50%;
   transition: all .5s ease;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
   -webkit-transition: all .5s ease;
   -moz-transition: all .5s ease;
   -ms-transition: all .5s ease;
   -o-transition: all .5s ease;
}
.slider .left-slide:hover, .slider .right-slide:hover{
   box-shadow: 0px 0px 10px black;
   background-color: #29a8e2;
}
.slider .left-slide{
   left: 30px;
}
.slider .right-slide{
   right: 30px;
}

.slider .slider-items .item img{
   max-width: 100%;
   animation: zoom 1s ease;
   -webkit-animation: zoom 1s ease;
}

@keyframes zoom{
   0%{
      transform: scale(1.5);
      -webkit-transform: scale(1.5);
      -moz-transform: scale(1.5);
      -ms-transform: scale(1.5);
      -o-transform: scale(1.5);
}100%{
      transform: scale(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
}
}

.slider .slider-items .item{
   display: none;
   position: relative;
   overflow: hidden;
}
.slider .slider-items .item .caption{
   position: absolute;
   width: 100%;
   height: 60px;
   bottom: 0;
   left: 0;
   background-color: rgba(0, 0, 0, .5);
   line-height: 60px;
   text-align: center;
   color: #ffffff;
   font-size: 30px;
}

.slider .slider-items .item.active{
   display: block;
}